{
    "timeout": 120,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "qa\/infection.log"
    },
    "mutators": {
        "@default": true
    },
    "initialTestsPhpOptions": "-d zend_extension=xdebug.so"
}